.trace-example {
  margin-right: 20em;
}

.trace-example-panel {
  min-height: 100px;
  width: 30%;
  float: left;
  margin: 2px;
}

#show-guides-label {
  color: #999;
  font-size: 90%;
}

@media (max-width: 850px) {
  .trace-example {
    margin-right: 1em;
  }
}

@media (max-width: 480px) {
  .trace-example {
    margin-right: 1em;
  }
}