<!DOCTYPE html>

<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{page.title}}</title>
   <meta name="author" content="Jason Merrill" />
   <meta name="viewport" content="width=device-width; initial-scale=1.0"/>
   {% include styles.html %}
   {% if page.css %}
     <link rel='stylesheet' type='text/css' href='/css/posts/{{ page.css }}.css' />
   {% endif %}
</head>
<body class="post">
  <div class="header">
    <div class="header-inner">
      <h3><a href="/">Squishy Thinking</a></h2>
      <div class="byline">by Jason Merrill<br /><a href="mailto:jason@squishythinking.com">jason@squishythinking.com</a></div>
    </div>
  </div>
  <div class="main">
    <h1><a href="{{page.url}}">{{page.title}}</a></h1>
    <abbr class="date">{{ page.date | date_to_string }}</abbr>
    {{ content }}
  </div>
  {% include foot_scripts.html %}
  {% if page.js %}
    <script src="/js/posts/{{ page.js }}.js"></script>
  {% endif %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54375342-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>